/*.container
{
background: #2980B9; 
background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}*/
/*.container
{
background: #7F7FD5;
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
}*/
::-webkit-scrollbar 
{
    display: none;
}
.container
{
background: #1c92d2;
background: -webkit-linear-gradient(to top, #f2fcfe, #64c5fa);
background: linear-gradient(to top, #f2fcfe, #64c5fa);
/*#1c92d2 #64c5fa*/
margin:0;
width:100%;
padding-top:4%;
/*padding:4% 8%;*/
}
.col12
{
	/*padding-left:5%;*/
	margin-right:3%;
	width:30%;
}
.card-topic
{
	text-align: center;
	font-size:1.9vw;
	color:#346DA5;
	font-family: 'Roboto', sans-serif;
}
.card-content
{
	text-align:justify;
	font-size:1.5vw;
	color:#346DA5;
	font-family: 'Roboto', sans-serif;
}
.first-card
{
	margin-top:14.2%;
}
.second-card
{
	margin-top:14%;
}
.third-card
{
	margin-top:12%;
}
.one
{
	margin-bottom:8%;
	padding:0% 4%;
}
.img-responsive
{
	height:18vw;
	margin-left:14%;
}
.img1
{
	margin-left:25%;
}
.img2
{
	margin-left:16.5%;
}
h3
{
	font-size:1.5vw;
	font-family: 'Roboto', sans-serif;
	/*line-height:0.8em;*/
}
.two
{
	margin-bottom:2%;
	margin-left:10%;
}
.col-lg-3
{
	margin:0;
	padding:0;
}
.icons
{
	font-size:2.5vw;
	padding-left:0;
}
.icn
{
	padding-left:6%;
	color:#346DA5;
}
.fa-instagram
{
	color:#346DA5;
}
.FC
{
	font-size:1.3vw;
	line-height:0.6em;
	/*color:#00ACD3;*/
	color:#346DA5;
	font-family: 'Roboto', sans-serif;
}
.footer-topic
{
	font-size:1.7vw;
	color:#346DA5;
	font-family: 'Roboto', sans-serif;
}