body
{
	/*background-image:url("Asset 1@2x.png");*/
	background-image: url("web-bg-main.svg");
	background-size: cover;
	height:80%;
	padding-top: 70px;
}
@font-face{
	font-family:"Google Sans Regular";src:url(./fonts/GoogleSans-Regular.ttf);
	font-family:"Google Sans Medium";src:url(./fonts/GoogleSans-Medium.ttf);
}
.navbar 
{
    -webkit-box-shadow: 0 8px 18px -6px #d1d1d1;
    -moz-box-shadow: 0 8px 18px -6px #d1d1d1;
    box-shadow: 0 8px 18px -6px #d1d1d1;
    background-color:white;
    height:4vw;
    border-radius:none;
    padding:0 20px;
}
.navbar-default .navbar-brand
{
	color:#346DA5;
	font-size:1.6vw;
	font-family: 'Roboto', sans-serif;
}
.navbar-default .navbar-nav>li>a
{
	/*padding-top:19.5%;*/
	font-size:1.6vw;
	color:#00ACD3;
	font-family: 'Roboto', sans-serif;
}
#login
{
	border-radius:20px;
	background-color:#346DA5;
	color:white;
	border:none;
	padding-bottom:8px;
	padding-top:8px;
	padding-left:16px;
	padding-right:16px;
	margin-top:8px;
}
#LetsGo
{
    border-radius:20px;
	background-color:#346DA5;
	color:white;
	border:none;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:26px;
	padding-right:22px;
	margin-top:2%;
	margin-left:6.2%;
	font-size:1.3vw;	
}
h1
{
	font-size:3vw;
}
h2
{
	font-size:2.3vw;
}
.main-topic
{
	margin-top:6.5%;
	margin-left:1%;
	color:#346DA5;
	font-family: 'Roboto', sans-serif;
}
.sub-topic
{
	margin-top:7.2%;
	margin-left:2%;
	color:#346DA5;
	font-family: 'Roboto', sans-serif;
}
.BUTTON
{
	margin-top:3%;
	margin-left:3%;
	font-family: 'Roboto', sans-serif;
}
