li{
    float: left;
  width: 48%;
  display: inline-block;
  text-decoration: none;
  color: black;
  height: 60px;
  vertical-align: middle;
}

.des{
    font-size: larger!important;
}
h2{
    display: block;
    font-size: 1.4em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
.a{
    background-color: orange;
   padding-top: 18px;
    text-align: center;
    /* text-decoration: none;
    text-emphasis: none; */
    font-size:20px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    list-style: none;
}
.b{
    background-color: white;
   padding-top: 18px;
    text-align: center;
    /* text-decoration: none;
    text-emphasis: none; */
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color:black;
    
}

.a:hover{
    background-color: darkblue;
   padding-top: 18px;
    text-align: center;
    text-decoration: none;
    text-emphasis: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color:white!important;
    
}


 .a:hover{
    
        color: white;
        background: steelblue;
        text-emphasis: none;
        text-decoration: none;
        list-style: none;
    
}

.b:hover{
    color: white;
        background: steelblue;
        text-emphasis: none;
        text-decoration: none;
        list-style: none;
    
} 

body{
    margin:0px;
    margin-top: 35px;
    background-color:#a59999;
   
}

.div-card {
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    height: 160px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color:white;
  }

  ul li a {
    text-decoration: none;
    color: black; /* For Example */
    font-weight: 700;
}

ul li a:hover {
    text-decoration: none;
    color: white; 
    font-weight: 700;
    text-emphasis: none;
    text-decoration: none;
    cursor: cursor;
}
.btn{
    float: right;
    margin-right: 20px;
}

.iconDetails {
    margin-left:2%;
    /* margin-top: 2%; */
   float:left; 
   height:160px;
   width:160px; 
   margin-right: 20px;
   /* background-color: grey; */
   /* margin-bottom: 20px; */

   } 
   .t{
       background-color: rgba(218, 230, 230,0.54);
   }

   .icon{
       width: 160px;
       height: 160px;
       /* margin-top: 2%; */
       font-size: 15px;
    font-weight: 600;
       margin-right: 30px;
     
       /* background-color: rgb(226, 222, 222); */
   }
   
   .container2 {
       width:100%;
       height:auto;
       padding:1%;
   }
   .row{
       text-align: center;
   }


h3
{
	color:#004196;
	font-size:1.45vw;
	font-family: 'Bree Serif', serif;
	/*font-family: 'Montserrat', sans-serif;*/
}
h4
{
	font-size:1.4vw;
	font-family: 'Bree Serif', serif;
	/*font-family: 'Montserrat', sans-serif;*/
}
.company-info
{
	color:black;
}
.title
{
	margin:0;
	padding-top:0.5%;
	padding-bottom:3.5%;
	color:black;
	text-decoration: underline;
    font-family: 'Bree Serif', serif;
    font-size: 27px;
	/*font-family: 'Montserrat', sans-serif;*/
}
.col-lg-3
{
	color:#004196;
}
.info-line
{
	margin-bottom:1.3%;
}
.box
{
	margin-top:25%;
	background-color:white;
	width:200%;
	height:5.2vw;
	padding-left:10%;
	padding-right:10%;
	padding-top:13%;
}
/* button
{
	width:200%;
	/*padding:5% 20%;
	background-color:#004196;
	color:white;
	border:none;
	font-family: 'Bree Serif', serif;
	padding-top:5%;
	padding-bottom:5%;
} */

.div-card{
    border-radius: 26px;
    background-color:#ffffff;
    z-index: 20px;
   
}
